<!-- footer area start -->
<footer class="footer-area">
    <div class="footer-top-area bg-img pt-105 pb-65" style="background-image: url(assets/img/bg/1.jpg)"
        data-overlay="9">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-md-3">
                    <div class="footer-widget mb-40">
                        <h3 class="footer-widget-title">Custom Service</h3>
                        <div class="footer-widget-content">
                            <ul>
                                <li><a href="/cart">Cart</a></li>
                                <li><a href="/register">Profile</a></li>
                                <li><a href="/login">Login</a></li>
                                <li><a href="/register">Register</a></li>
                                <li><a href="#">Conatct Us</a></li>
                                <li><a href="#">Track</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-3">
                    <div class="footer-widget mb-40">
                        <h3 class="footer-widget-title">Categories</h3>
                        <div class="footer-widget-content">
                            <ul>
                                <li><a href="/shop">Acoustic Guitar</a></li>
                                <li><a href="/shop">Electrical Guitars</a></li>
                                <li><a href="/shop">Classical Guitars</a></li>
                                <li><a href="/shop">Bass Guitars</a></li>
                                <li><a href="/shop">Electro-Acoustic Guitars</a></li>
                                <li><a href="/shop">Wired Guitars</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6">
                    <div class="footer-widget mb-40">
                        <h3 class="footer-widget-title">Contact</h3>
                        <!-- <div class="footer-newsletter"> -->
                            <p>At Rhythm, we're more than just an online guitar store; we're your gateway to a world of unparalleled musical expression and creativity. We believe that the right guitar can transform not only your sound but also your passion for music and everyday playing experience. Explore our collection of premium guitars crafted for enthusiasts and professionals alike.</p>

                        <div id="mc_embed_signup" class="subscribe-form pr-40">
                            <form
                                action="https://devitems.us11.list-manage.com/subscribe/post?u=6bbb9b6f5827bd842d9640c82&amp;id=05d85f18ef"
                                method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
                                class="validate" target="_blank" novalidate>
                                <div id="mc_embed_signup_scroll" class="mc-form">
                                    <input type="email" value="" name="EMAIL" class="email"
                                        placeholder="Enter Your E-mail" required>
                                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                    <div class="mc-news" aria-hidden="true">
                                        <input type="text" name="b_6bbb9b6f5827bd842d9640c82_05d85f18ef" tabindex="-1"
                                            value="">
                                    </div>
                                    <div class="clear">
                                        <input type="submit" value="Subscribe" name="subscribe"
                                            id="mc-embedded-subscribe" class="button">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="footer-contact">
                            <p><span><i class="ti-location-pin"></i></span> 77 Seventh avenue USA 12555. </p>
                            <p><span><i class=" ti-headphone-alt "></i></span> +91 8089609735 or +91 8089532266</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="footer-bottom black-bg ptb-20">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="copyright">
                        <p>
                            Copyright ©
                            <a href="/">Rhythm</a> 2023 . All Right Reserved.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- all js here -->
<script src="/assets/js/shop/shopping.js"></script>
 
<script src="/assets/sidebar/js/jquery.min.js"></script>
<script src="/assets/sidebar/js/popper.js"></script>
<script src="/assets/sidebar/js/bootstrap.min.js"></script>
<script src="/assets/sidebar/js/main.js"></script>
<script src="/assets/js/vendor/jquery-1.12.4.min.js"></script>
<script src="/assets/js/popper.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/jquery.magnific-popup.min.js"></script>
<script src="/assets/js/isotope.pkgd.min.js"></script>
<script src="/assets/js/imagesloaded.pkgd.min.js"></script>
<script src="/assets/js/jquery.counterup.min.js"></script>
<script src="/assets/js/waypoints.min.js"></script>
<script src="/assets/js/ajax-mail.js"></script>
<script src="/assets/js/owl.carousel.min.js"></script>
<script src="/assets/js/plugins.js"></script>
<script src="/assets/js/main.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="/public/assets/js/vendor/modernizr-3.11.7.min.js"></script>
